@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

DISTRIBUIDORA ROGRE S.A.S

File:			template.css
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2016

************************************************************************************************************************ */

/* ---------- General ---------- */

@font-face {
	font-family: "Century Gothic Regular";
	src: url(fonts/GOTHIC.TTF);
}

@font-face {
	font-family: "Century Gothic Bold";
	src: url(fonts/GOTHICB.TTF);
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Century Gothic Regular";
	font-size: 12px;
	color: #5d5d5d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Century Gothic Regular";
}

ul {
	list-style: none;
}

li {
	list-style: none;
}

a {
	color: #009245;
	text-decoration: none;
}

a:hover {
	color: #009245;
	text-decoration: underline;
}

img {
	border: none;
}

/* ---------- Template ---------- */

/* Menu */

.menu {
	background-color: #00c4a3;
}

.menu .logo {
	padding: 8px;
}

.menu .logo a {
	width: 96px;
	margin: auto;
	padding: 8px;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: block;
}

.menu .top-bar,
.menu .top-bar.expanded .title-area {
	background: transparent;
}

.menu .top-bar .toggle-topbar.menu-icon a {
	color: #fff;
}

.menu .top-bar .toggle-topbar.menu-icon a span:after {
	box-shadow: 0 0 0 1px #fff, 0 7px 0 1px #fff, 0 14px 0 1px #fff;
}

/* Top */

.top {
	width: 100%;
	background-color: #00c4a3;
	position: fixed;
	z-index: 10;
}

.moduletable_t1 {
	padding: 0;
	height: 76px;
}

ul.menu_main {
	margin: 0;
	padding: 0;
}

ul.menu_main li {
	padding: 0 8px;
	background: url(../images/menu_main_li_bg.png) no-repeat;
	background-position: right;
	/*display: inline-block;*/
	float: left;
	position: relative;
}

ul.menu_main a {
	padding: 25px 8px;
	font-family: "Century Gothic Regular" !important;
	font-size: 16px !important;
	color: #fff;
	text-transform: uppercase !important;
	display: block;
}

/*ul.menu_main li.active a,*/
ul.menu_main a:hover {
	background-color: rgba(219, 226, 131, 0.7);
	text-decoration: none;
}

/*li.item-114,
li.item-126,
li.item-127 {
	background: none !important;
}*/

li.item-115,
li.item-128,
li.item-129 {
	padding: 8px !important;
	background: none !important;
}

li.item-115 a,
li.item-128 a,
li.item-129 a {
	padding: 8px;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 0 !important;
}

li.item-115 a:hover,
li.item-128 a:hover,
li.item-129 a:hover {
	background-color: #fff;
}

.custom_t2 {
	padding: 10px 0;
}

.mod-languages_t3 {
	padding: 10px 0;
}

ul.lang-inline {
	margin: 0;
	padding: 0;
}

ul.lang-inline li {
	display: inline-block;
}

/* Banner */

.banner {
	padding-top: 76px;
}

.banner .columns {
	padding: 0;
}

.moduletable_ba1 {}

/* About Us */

.about_us {}

.moduletable_au1 h3 {
	margin: 0;
	padding: 20px 0;
	font-size: 18px;
	color: #009245;
	text-align: center;
}

.custom_au1 {
	padding: 20px 0;
	background-color: #f2f2f2;
}

.custom_au1 h4 {
	margin: 0;
	padding: 15px 0;
	font-family: "Century Gothic Bold";
	font-size: 18px;
	color: #009245;
}

.custom_au1 .box_1,
.custom_au1 .box_2 {
	padding: 20px;
}

.custom_au1 .box_1 {
	border: 1px solid #fff;
}

.custom_au1 .box_2 {
	background-color: #fff;
	border: 1px solid #e6e6e6;
}

.custom_au1 .box_1 p,
.custom_au1 .box_2 p {
	font-size: 12px;
}

.custom_au1 .box_1 p:last-child,
.custom_au1 .box_2 p:last-child {
	margin-bottom: 0;
}

/* Component */

.component {}

/* Product */

.product {}

.moduletable_pr1 {}

.moduletable_pr1 h3 {
	margin: 20px 0;
	padding: 8px 0 18px 0;
	background: url(../images/moduletable_pr1_h3_bg.png) no-repeat;
	background-position: center;
	font-family: "Century Gothic Bold";
	font-size: 18px;
	color: #fff;
	text-align: center;
}

.custom_pr1 {
	padding: 20px 0;
}

.custom_pr1 .row {
	margin-bottom: 20px;
}

.custom_pr1 .p_image img {
	width: 100%;
}

.custom_pr1 .p_link a,
.custom_pr1 .p_others a {
	padding: 5px 0;
	background-color: #a6d2ad;
	font-family: "Century Gothic Bold";
	font-size: 14px;
	text-align: center;
	display: block;
}

.custom_pr1 .p_others {
	max-width: 240px;
	margin: auto;
}

.custom_pr1 .p_others a {
	font-size: 18px;
}

/* Tip */

.tip {
	background-color: #f2f2f2;
}

.moduletable_ti1 {
	padding-bottom: 20px;
}

.moduletable_ti1 h3 {
	max-width: 180px;
	margin: auto;
	margin-bottom: 15px;
	padding: 15px 0;
	background-color: #00c4a3;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	font-family: "Century Gothic Bold";
	font-size: 18px;
	color: #fff;
	text-align: center;
}

.moduletable_ti1 .box_1 {
	padding: 20px;
	background-color: #fff;
	border: 1px solid #e6e6e6;
}

.moduletable_ti1 .box_1 h4 {
	margin: 0;
	padding: 15px 0;
	font-family: "Century Gothic Bold";
	font-size: 18px;
	color: #00c4a3;
}

.moduletable_ti1 .box_1 p {
	font-size: 12px;
}

.moduletable_ti1 .box_1 p::last-child {
	margin-bottom: 0;
}

.moduletable_ti1 .box_1 ul {
	margin: 10px 5px;
}

.moduletable_ti1 .box_1 li {
	padding: 5px 5px 5px 20px;
	background: url(../images/li_bg.png) no-repeat 7px 10px;
	font-size: 12px;
}

.moduletable_ti1 .t_image {
	padding: 80px 0;
	text-align: center;
}

.moduletable_ti1 .t_others {
	max-width: 240px;
	margin: auto;
}

.moduletable_ti1 .t_others a {
	padding: 5px 0;
	background-color: #a6d2ad;
	font-family: "Century Gothic Bold";
	font-size: 18px;
	text-align: center;
	display: block;
}

/* Contact Us */

.contact_us {}

.moduletable_cu1 {
	margin: 20px 0;
	padding: 20px;
	border: 1px solid #f2f2f2;
}

/* Bottom */

.bottom {
	background-color: #5d5d5d;
}

.moduletable_bo1 {
	padding: 15px 0;
	font-size: 14px;
	color: #fff;
}

.moduletable_bo1 a {
	color: #fff;
}

/* Copyright */

.copyright_wrap {
	padding-bottom: 15px;
	background-color: #5d5d5d;
}

.copyright {
	color: #fff;
	text-align: center;
}

.copyright a {
	color: #fff;
}

/* ---------- Joomla ---------- */

.items-leading h2,
.item-page h2,
.item h2 {
	margin: 0;
	padding: 15px 0;
	font-family: "Century Gothic Bold";
	font-size: 18px;
	color: #00c4a3;
}

.items-leading ul,
.item-page ul,
.item ul {
	margin: 10px 5px;
}

.items-leading li,
.item-page li,
.item li {
	padding: 5px 5px 5px 20px;
	background: url(../images/li_bg.png) no-repeat 7px 10px;
	font-size: 12px;
}

.items-leading p,
.item-page p,
.item p {
	font-size: 12px;
}

/* ---------- Components ---------- */

/* VirtueMart */

.virtuemart_search {
	display: none;
}

.orderby-displaynumber {
	display: none;
}

.browse-view h1 {
	margin: 20px 0;
	padding: 8px 0 18px 0;
	background: url(../images/browse-view_h1_bg.png) no-repeat;
	background-position: center;
	font-family: "Century Gothic Bold";
	font-size: 18px;
	color: #fff;
	text-align: center;
}

.browse-view .row .product .spacer {
	padding: 0;
}

.browse-view .row .product .product-container {
	margin: 10px;
}

.browse-view .row .product .vm-product-media-container {
	margin: auto;
	margin-bottom: 10px;
	background-color: #fff;
}

.browse-view .row .product .vm-product-rating-container {
	display: none;
}

.browse-view .row .product .vm-product-descr-container-0 {
	min-height: auto;
	margin: 0;
}

.browse-view .row .product .vm-product-descr-container-0 h2 {
	margin: 0;
	padding: 10px;
	background-color: #a6d2ad;
	font-family: "Century Gothic Bold";
	font-size: 14px;
}

.browse-view .row .product .product-price {
	display: none;
}

.browse-view .row .product .addtocart-area {
	display: none;
}

.browse-view .row .product .vm-details-button {
	display: none;
}

.product-container .back-to-category {
	display: none;
}

.product-container h1 {
	margin: 20px 0;
	font-family: "Century Gothic Bold";
	font-size: 18px;
	color: #009245;
	text-align: center;
}

.product-container .vm-product-container {
	width: 100%;
	position: relative;
}

.product-container .vm-product-container .vm-product-media-container {
	width: 100%;
	float: none;
}

.product-container .vm-product-container .vm-product-details-container {
	display: none;
}

.product-container .product-description {
	width: 100%;
	font-size: 12px;
	position: relative;
}

.product-container .product-description .title {
	display: none;
}

.product-container .product-description h3 {
	margin: 10px 0;
	font-family: "Century Gothic Bold";
	font-size: 18px;
	color: #009245;
}

.product-container .product-description p {
	font-size: 12px;
}

.product-container .product-description ul {
	margin: 10px 5px;
}

.product-container .product-description li {
	padding: 5px 5px 5px 20px;
	background: url(../images/li_bg.png) no-repeat 7px center;
	font-size: 12px;
}

/* ChronoForms */

.chronoform h2 {
	margin: 0;
	margin-bottom: 15px;
	font-family: "Century Gothic Bold";
	font-size: 14px;
	color: #00a551;
	text-transform: uppercase;
}

.chronoform label {
	display: none;
}

.chronoform input[type=text],
.chronoform textarea {
	background-color: #f2f2f2;
	border: none;
	box-shadow: none;
	font-size: 12px;
}

.chronoform #ftd-enviar {
	text-align: right;
}

.chronoform .button {
	margin: 0;
	padding: 5px;
	background-color: #00a551;
	font-size: 12px;
}

p.chrono_credits {
	margin: 0;
	line-height: 0;
}

p.chrono_credits a {
	font-size: 0;
}

/* ---------- Media Queries ---------- */

/* Small screens */

/* Define mobile styles */

@media only screen {}

/* max-width 640px */

@media only screen and (max-width: 40em) {

	/* Top */

	.top {
		position: inherit;
	}

	.moduletable_t1 {
		height: inherit;
	}

	ul.menu_main li {
		/*display: inherit;*/
		float: none;
	}

	li.item-115,
	li.item-128,
	li.item-129 {
		display: none !important;
	}

	.top-bar-section ul li.active>a {
		background: transparent;
	}

}

/* Medium screens */

/* min-width 641px */

@media only screen and (min-width: 40.063em) {}

/* min-width 641px and max-width 1024px */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {}

/* Large screens */

/* min-width 1025px */

@media only screen and (min-width: 64.063em) {}

/* min-width 1025px and max-width 1440px */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {}

/* XLarge screens */

/* min-width 1441px */

@media only screen and (min-width: 90.063em) {}

/* min-width 1441px and max-width 1920px */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {}

/* XXLarge screens */

/* min-width 1921px */

@media only screen and (min-width: 120.063em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}